*
{
    border: none;
    margin: 0;
    padding: 0;
}

body
{
    display: flex;
    min-height: 100vh;
    color: #F0F0F0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #121237;
}

.side_menu
{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #1D2651, #463986, #303c9d, #3150B5);
    width: 14%;
    max-width: 100px;
    min-height: 100vh;

}

.side_menu > a:first-child
{
    margin-top: 30px; 
}

.side_menu > a
{
    text-decoration: none;
    color: #474747;
    margin-bottom: 30px;
}

.side_menu > a:last-child
{
    margin-bottom: 0px;
}

#btcpedia_logo
{
    margin-top: 2%;
}

#btcpedia_logo > img
{
    width: 280px;
    height: 150px;
}

main
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news
{
    display: flex;
    justify-content: flex-start;
}

h1
{
    color: #f0f0f0;
}

.iframe_chart
{
    width: 85%;
    min-height: 300px;
    min-width: 420px;
    max-width: 860px;
    height: 35vh;
    border: none;
    transition: opacity 0.35s ease-in-out;
    opacity: 1;
}

iframe.fade-out
{
    opacity: 0;
}

.page_title
{
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page_title > h1
{
    margin-top: 20px;
    font-size: 50px;
}

.page_title > img
{
    width: 90px;
    height: 92px;
}

header#header
{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.carousel-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#active_btn
{
    background: #66408a;
}

header > h1
{
    text-align: center;
    font-size: 28px;
    width: 200px;
    margin-right: 20px;
    transition: opacity 0.45s ease-in-out;
    opacity: 1;
}


.h1_fade_out
{
    opacity: 0;
}

article
{
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    border-radius: 5px;
    background-color: #1C2544;
    margin-top: 35px;
    width: 65%;
    max-width: 750px;
}

article > img
{
    margin-right: 25px;
    border-radius: 1.5%;
    max-width: 190px;
}

article > div > a > h1
{
    color: #f0f0f0;
}

article > p
{
    text-align: justify;
    color: #F0F0F0;
}

article > div {
    flex: 1;
}

article#last_news
{
    margin-bottom: 5%;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  width: 100%; /* 2 slides lado a lado */
  transition: transform 0.6s ease-in-out;
}

.news, .dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 0 0 100%; /* cada slide ocupa toda a largura */
    min-height: 80vh;
}

.dashboard
{
    justify-content: flex-start;
    margin-top: 35px;
}

.dashboard > div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    background-color: #1C2544;
    border-radius: 5px;
    padding: 15px;
    max-width: 750px;
}

.dashboard > div iframe {
    width: 100%;
    max-width: 500px; 
    height: 35vh;
}


.carousel-buttons button {
  background: #3F367D;
  color: #fff;
  border: none;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 100%;
  transition: background 0.3s;
}

.carousel-buttons button:hover {
  background: #66408a;
}

span#btc_price
{
    margin-top: 8px;
    font-size: 25px;
    color: #e4752b;
}